.abt1 {
    background-image: url("ab.png");
    height: 300px;
    background-position: center;
}

.abt2 {
    text-align: center;
    padding-top: 70px;
}

.abt3 {
    font-size: 20px;
    text-align: center;
    font-family: font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.abt4 {
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: rgba(46, 44, 44, 0.925);
}

.abt5 {
    text-align: center;
    font-size: 20px;
}

.abt6 {
    text-align: center;
    font-size: 20px;
    padding-left: 320px;
    padding-right: 320px;
}

.abt7 {
    width: 850px;
    height: 600px;
}

.abt8 {
    text-align: initial;
    font-size: 17px;
    padding-left: 320px;
    padding-right: 320px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.abt9 {
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: rgba(46, 44, 44, 0.925);
    padding-left: 295px;
    padding-right: 295px;
}