.con {
    background-image: url("ab.png");
    height: 300px;
    background-position: center;
}

.con1 {
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.con2 {
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.con3 {
    width: 1500px;
    height: 600px;
    background-color: rgb(247, 243, 239);
}

.con4 {
    padding-left: 300px;
    padding-top: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

.form {
    margin-left: 200px;
}

.con5 {
    width: 300px;
    height: 25px;
    margin-left: 10px;
}

.con6 {
    width: 300px;
    height: 25px;
    margin-top: 20px;
    margin-left: 33px;
}

.con7 {
    width: 300px;
    height: 25px;
    margin-top: 20px;
    margin-left: 60px;
}

.con8 {
    width: 450px;
    height: 100px;
    margin-top: 10px;
}

.con9 {
    display: inline-flex;
}

.con10 {
    margin-left: 120px;
    width: 500px;
    height: 450px;
    border-radius: 50px;
    margin-top: -100px;
}

.con11 {
    font-size: 25px;
    background-color: rgb(243, 33, 33);
    color: white;
}