.nee {
    margin: 20px;
}

.nee1 {
    margin-left: 100px;
}

.ne1 {
    display: inline-flex;
    padding-top: 50px;
}

.ne2 {
    color: #197fd7;
}

.ne3 {
    width: 400px;
    padding: 10px;
    margin: 20px;
    margin-top: -2px;
}

.ne {
    margin: 20px;
}

.ne4 {
    display: inline-flex;
    padding-top: 25px;
}

.ne5 {
    width: 57%;
    display: inline-flex;
    padding: 20px 20px 20px 0px;
}

.ne6 {
    padding: 10px;
    width: 37px;
    border-radius: 5px;
    background: white;
    color: blue;
    border: 1px solid blue;
    text-decoration: none;
    margin-left: 20px;
}

.ne6:hover {
    background-color: blue;
    color: white;
}

.logo1 {
    width: 200px;
    padding: 20px;
}

.ne7 {
    display: inline-flex;
    margin-left: 87px;
}

.ne8 {
    margin-left: 520px;
    padding-top: 15px;
    color: blue;
}