.Form-container {
    padding: 20px 100px;
    display: inline-flex;
    justify-content: space-evenly;
}

.info-div {
    width: 60%;
}

.Temp-info {
    width: 40%;
}

.rec {
    display: inline-flex;
    margin-left: 80px;
}

.rec1 {
    color: #197fd7;
}

.rec3 {
    margin-left: 400px;
    padding-top: 15px;
    color: blue;
}

.rec5 {
    padding: 15px;
    font-weight: 600;
    border-radius: 5px;
    width: 41%;
    margin: 20px;
    margin-left: 0px;
}

.rec6 {
    padding: 15px;
    font-weight: 600;
    border-radius: 5px;
    width: 89%;
    margin: 20px;
    margin-left: 0px;
}

.rec8 {
    padding: 15px;
    font-weight: 600;
    border-radius: 5px;
    width: 25%;
    margin: 20px;
    margin-left: 0px;
}

.options {
    color: #d37807;
}

.next {
    width: 74%;
    display: inline-flex;
    padding: 20px 20px 20px 0px;
}

.cancel {
    padding: 8px;
    width: 130px;
    border-radius: 5px;
    background: white;
    color: blue;
    border: 1px solid blue;
}

.next_btn {
    padding: 8px;
    width: 130px;
    border-radius: 5px;
    background: white;
    color: blue;
    border: 1px solid blue;
    text-decoration: none;
}

.pop {
    display: inline-flex;
}

.pop1 {
    margin-left: 240px;
    margin-top: 50px;
}

.pop2 {
    border: 1px solid;
    text-decoration: none;
    padding: 25px 40px 25px 40px;
    background-image: url("im.png");
}